html {
background-color: transparent;
background-image: url(/Users/hannahoconnor/the_odin_project/FCCformproject/lfbaphomet.jpg);
background-size: cover;
font-family: Roboto sans-serif;
height: 100%;
min-height: 100%;
}
