html {
font-family: Roboto sans-serif;
height: 100%;
}

body {
background-color: none;
background-image: url(lfbaphomet.jpg);
background-size: contain;
}

#surveyinfo {
    background-color: teal;
    justify-self: center;
    padding: 100 500 500 500;
    width: 300px;
    
}